{{template "header.html" .}}
              <div>
                <a href="teacherlist.html"><i style="color:black; width:160px;"></i> 师资列表</a>
            </div>
                <div class="panel admin-panel">
                    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span></strong></div>
                    <div class="body-content">
                        <form method="POST" class="form-x" action="addTeacher.html">





                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">姓名：</label>
                                </div>
                                <div class="field" style="display:inline-block">
                                    <input type="text" class="input w50" value="" name="name" data-validate="required:请输入姓名" />
                                    <div class="tips"></div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">职称：</label>
                                </div>
                                <div class="field" style="display:inline-block">
                                    <input type="text" class="input w50" value="" name="job" data-validate="required:请输入姓名" />
                                    <div class="tips"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">电话：</label>
                                </div>
                                <div class="field" style="display:inline-block">
                                    <input type="text" class="input w50" value="" name="telphone" data-validate="required:请输入姓名" />
                                    <div class="tips"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">邮箱：</label>
                                </div>
                                <div class="field" style="display:inline-block">
                                    <input type="text" class="input w50" value="" name="email" data-validate="required:请输入姓名" />
                                    <div class="tips"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">个人经历：</label>
                                </div>
                                <div class="field" >
                                    <!-- <input type="text" class="input w50" value="" name="script" style="width:100%;height:200px;" data-validate="required:请输入姓名" /> -->
                                    <textarea class="input" name="script" style=" height:90px;width:600px"></textarea>
                                    <div class="tips"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">科研工作：</label>
                                </div>
                                <div class="field" >
                                    <!-- <input type="text" class="input w50" value="" name="script" style="width:100%;height:200px;" data-validate="required:请输入姓名" /> -->
                                    <textarea class="input" name="research" style=" height:90px;width:600px"></textarea>
                                    <div class="tips"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">教学工作：</label>
                                </div>
                                <div class="field" >
                                    <!-- <input type="text" class="input w50" value="" name="script" style="width:100%;height:200px;" data-validate="required:请输入姓名" /> -->
                                    <textarea class="input" name="teach" style=" height:90px;width:600px"></textarea>
                                    <div class="tips"></div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">其他获奖：</label>
                                </div>
                                <div class="field" >
                                    <!-- <input type="text" class="input w50" value="" name="script" style="width:100%;height:200px;" data-validate="required:请输入姓名" /> -->
                                    <textarea class="input" name="prize" style=" height:90px;width:600px"></textarea>
                                    <div class="tips"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">学历：</label>
                                </div>
                                <div class="field" style="display:inline-block">
                                    <input type="text" class="input w50" value="" name="workexperience" data-validate="required:请输入姓名" />
                                    <div class="tips"></div>
                                </div>
                            </div>

                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">是否博导：</label>
                                </div>
                                <div class="field" style="display:inline-block">
                                    <input type="text" class="input w50" value="" name="isdocteacher" data-validate="required:请输入姓名" />
                                    <div class="tips"></div>
                                </div>
                            </div>


                            <div class="form-group">
                                <div class="label">
                                    <label style="font-size:16px">系别：</label>
                                </div>
                                <div class="field" style="display:inline-block">
                                    <input type="text" class="input w50" value="" name="depart" data-validate="required:请输入姓名" />
                                    <div class="tips"></div>
                                </div>
                            </div>



                            <div class="form-group">
                                <div class="label">
                                    <label></label>
                                </div>
                                <div class="field">
                                    <!-- <input type="button" id="mysubmit" value="tj" onclick="" /> -->
                                    <button class="button bg-main icon-check-square-o" name="mysubmit" id="mysubmit" type="submit" style="font-size:20px"> 提交</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>



            </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->'#editor_id'
    <!-- jQuery Js -->
    <script src="static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="static/assets/js/morris/morris.js"></script>
    <script src="static/assets/js/easypiechart.js"></script>
    <script src="static/assets/js/easypiechart-data.js"></script>

    <script src="static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="static/assets/js/custom-scripts.js"></script>
    <!-- kindeditor -->
    <script charset="utf-8" src="static/kindeditor-4.1.10/kindeditor.js"></script>
    <script charset="utf-8" src="static/kindeditor-4.1.10/lang/zh_CN.js"></script>

    <script type="text/javascript">
        KindEditor.ready(function(K) {
            var editor = K.create('textarea[name="content"]');
        });

        // $("#mysubmit").click(function() {
        //     //取得HTML内容?
        //     //同步数据后可以直接取得textarea的value?
        //     editor.sync();
        //     var html = document.getElementById('addeditor_id').value; //原生API
        //     $("#schtmlnr").val(html); //把KindEditor产生的html代码放到schtmlnr里面，用于提交
        //     document.getElementById("mysubmit");
        // });
    </script>
    <!-- <script>
      function check(i){
        if(document.getElementById(i).style=="none"){
          document.getElementById(i).style="block";
        }else{
          document.getElementById(i).style="none";
        }
      }
    </script> -->

</body>

</html>
}
</script>

</body>

</html>
