<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>Marvel</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Bootstrap Styles-->
    <link href="static/assets/css/bootstrap.css" rel="stylesheet" />
    <!-- FontAwesome Styles-->
    <link href="static/assets/css/font-awesome.css" rel="stylesheet" />
    <!-- Morris Chart Styles-->
    <link href="static/assets/js/morris/morris-0.4.3.min.css" rel="stylesheet" />
    <!-- Custom Styles-->
    <link href="static/assets/css/custom-styles.css" rel="stylesheet" />
    <!-- Google Fonts-->
    <link href='http://fonts.useso.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="static/assets/js/Lightweight-Chart/cssCharts.css">
</head>

<style>
    .label {
        color: black !important;
    }

    #table {
        font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
        width: 100%;
        border-collapse: collapse;
    }

    #table td,
    #table th {
        font-size: 1em;
        height: 20px;
        text-align: center;
        border: 1px solid #005AB4;
        padding: 3px 7px 2px 7px;
    }

    #table th {
        font-size: 1.1em;
        text-align: center;
        padding-top: 5px;
        padding-bottom: 4px;
        background-color: #005AB4;
        color: #ffffff;
    }
</style>

<body>
    <div id="wrapper">
        <nav class="navbar navbar-default top-navbar" role="navigation">
            <div class="navbar-header">


                <a class="navbar-brand" href="index.html"><strong>Marvel</strong></a>

                <div id="sideNav" href=""><i class="fa fa-caret-right"></i></div>
            </div>

        </nav>
        <!--/. NAV TOP  -->
        <nav class="navbar-default navbar-side" role="navigation">
            <div class="sidebar-collapse">
                <ul class="nav" id="main-menu">

                    <li>
                        <a href="index.html" class="active-menu"><i class="fa fa-dashboard"></i>内容管理<span class="fa arrow"></span></a>
                        <ul class="nav nav-second-level">

                          <li>
                              <a href="index.html" >添加文章</a>
                          </li>
                          <li>
                              <a href="addTeacher.html">添加师资</a>
                          </li>
                          <li>
                              <a href="addLink.html">添加链接</a>
                          </li>

                        </ul>
                    </li>
                    {{if .IsSuper}}
                    <li>

                        <a href="category.html"><i class="fa fa-desktop"></i>栏目管理</a>


                    </li>

                    <li>
                        <a href="user.html"><i class="fa fa-sitemap"></i> 用户管理</a>

                    </li>

                    {{end}}
                </ul>

            </div>

        </nav>
        <!-- /. NAV SIDE  -->

        <div id="page-wrapper">
            <div class="header">
                <h1 class="page-header">
                            欢迎您  {{.admin}}管理员
                        </h1>
              <div>
                <a href="addTeacher.html"><i style="color:black; width:160px;"></i> 返回</a>


            </div>
                <div class="panel admin-panel">
                    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span></strong></div>
                    <div class="body-content">

                      <table id="table" border="1">
                          <thead>
                              <tr>
                                  <th>文章名</th>
                                  <th>所属栏目</th>
                                  <th>内容</th>

                              </tr>
                          </thead>
                          <tbody>
                              {{range .articles}}

                              <tr>
                                  <td>{{.Title}}</td>
                                  <td>{{.Belongs}}</td>
                                  <td>{{.Content}}</td>

                              </tr>
                              {{end}}
                          </tbody>
                      </table>

                    </div>
                </div>



            </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->'#editor_id'
    <!-- jQuery Js -->
    <script src="static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="static/assets/js/morris/morris.js"></script>
    <script src="static/assets/js/easypiechart.js"></script>
    <script src="static/assets/js/easypiechart-data.js"></script>

    <script src="static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="static/assets/js/custom-scripts.js"></script>
    <!-- kindeditor -->
    <script charset="utf-8" src="static/kindeditor-4.1.10/kindeditor.js"></script>
    <script charset="utf-8" src="static/kindeditor-4.1.10/lang/zh_CN.js"></script>

    <script type="text/javascript">
        KindEditor.ready(function(K) {
            var editor = K.create('textarea[name="content"]');
        });


    </script>
    </script> -->

</body>

</html>
}
</script>

</body>

</html>
