{{template "header.html" .}}
              <div>
                <a href="index.html"><i style="color:black; width:160px;"></i> 返回</a>


            </div>
                <div class="panel admin-panel">
                    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span></strong></div>
                    <div class="body-content">

                      <table id="table" border="1">
                          <thead>
                              <tr>
                                  <th>文章名</th>
                                  <th>所属栏目</th>
                                  <th>内容</th>
                                  <th>查看</th>

                              </tr>
                          </thead>
                          <tbody>
                              {{range .articles}}

                              <tr>
                                  <td class="default1">{{.Title}}</td>
                                  <td class="default1">{{.BelongsId}}</td>
                                  <td class="default1">{{.Content}}</td>
                                  <td class="default1">
                                  <a href="onearticle.html?articletitle={{.Title}}" >详情</a>
                                  <a href="articlelist.html?delarticletitle={{.Title}}" >删除</a>
                                  </td>
                              </tr>
                              {{end}}
                          </tbody>
                      </table>

                    </div>
                </div>



            </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->'#editor_id'
    <!-- jQuery Js -->
    <script src="static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="static/assets/js/morris/morris.js"></script>
    <script src="static/assets/js/easypiechart.js"></script>
    <script src="static/assets/js/easypiechart-data.js"></script>

    <script src="static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="static/assets/js/custom-scripts.js"></script>
    <!-- kindeditor -->
    <script charset="utf-8" src="static/kindeditor-4.1.10/kindeditor.js"></script>
    <script charset="utf-8" src="static/kindeditor-4.1.10/lang/zh_CN.js"></script>

    <script type="text/javascript">
        KindEditor.ready(function(K) {
            var editor = K.create('textarea[name="content"]');
        });


    </script>
    </script> -->

</body>

</html>
}
</script>

</body>

</html>
