{{template "header.html" .}}
              <div>
                <a href="addLink.html"><i style="color:black; width:160px;"></i> 返回</a>


            </div>
                <div class="panel admin-panel">
                    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span></strong></div>
                    <div class="body-content">
                      {{range .linkers}}
                      <li>
                      <a href="{{.Url}}">{{.Title}}</a>
                    </li>
                      {{end}}
                    </div>
                </div>



            </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->'#editor_id'
    <!-- jQuery Js -->
    <script src="static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="static/assets/js/morris/morris.js"></script>
    <script src="static/assets/js/easypiechart.js"></script>
    <script src="static/assets/js/easypiechart-data.js"></script>

    <script src="static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="static/assets/js/custom-scripts.js"></script>
    <!-- kindeditor -->
    <script charset="utf-8" src="static/kindeditor-4.1.10/kindeditor.js"></script>
    <script charset="utf-8" src="static/kindeditor-4.1.10/lang/zh_CN.js"></script>

    <script type="text/javascript">
        KindEditor.ready(function(K) {
            var editor = K.create('textarea[name="content"]');
        });


    </script>
    </script> -->

</body>

</html>
}
</script>

</body>

</html>
