{{template "header.html" .}}
              <div>
                <a href="addTeacher.html"><i style="color:black; width:160px;"></i> 返回</a>


            </div>
                <div class="panel admin-panel">
                    <div class="panel-head" id="add"><strong><span class="icon-pencil-square-o"></span></strong></div>
                    <div class="body-content">
                    <form method="GET" action="/teacherlist">
                      <div>
                        <input type="submit" name="Lis" id="lis"  value="列表" style="width:160px;float:left;">
                      <input type="submit" name="Job" id="Job"  value="职称" style="width:160px;float:left;">
                      <input type="submit" name="Doc" id="Doc"  value="博导" style="width:160px;float:left;">
                      <input type="submit" name="Dep" id="Dep"  value="系所" style="width:160px;float:left;">
                    </div>
                      {{if .Show1}}
                      <p />
                      <p>教授(研究员)</p>

                      {{range .TeachersPro}}
                      <a href="">{{.Name}}</a>
                      {{end}}

                      <p >副教授(高级工程师、副研究员)</p>

                        {{range .TeachersDepuPro}}
                        <a href="">{{.Name}}</a>
                        {{end}}


                      <p >讲师（工程师及以下）</p>
                      {{range .Teachers}}
                      <a href="">{{.Name}}</a>
                      {{end}}




                      {{else if .Show2}}
                      <p />
                      <p >博士生导师</p>
                      {{range .Teachers}}
                      <a href="">{{.Name}}</a>
                      {{end}}

                      {{else if .Show3}}
                      <p />
                      <p >机械工程系</p>
                      {{range .Teachers1}}
                      <a href="">{{.Name}}</a>
                      {{end}}
                      <p class="group-name">工业工程系</p>
                      {{range .Teachers2}}
                      <a href="">{{.Name}}</a>
                      {{end}}
                      <p class="group-name">电力电子系</p>
                      {{range .Teachers3}}
                      <a href="">{{.Name}}</a>
                      {{end}}
                      <p class="group-name">工程训练中心(学院教学示范中心)</p>
                      {{range .Teachers4}}
                      <a href="">{{.Name}}</a>
                      {{end}}

                      {{else}}
                      <table id="table" border="1">
                          <thead>
                              <tr>
                                  <th>姓名</th>
                                  <th>学历</th>
                                  <th>职位</th>
                                  <th>电话</th>
                                  <th>Email</th>


                                  <th>是否博导</th>
                                  <th>系所</th>
                                  <th>操作</th>

                              </tr>
                          </thead>
                          <tbody>
                              {{range .AllTeachers}}

                              <tr>
                                  <td class="default1">{{.Name}}</td>
                                  <td class="default1">{{.EducationBackground}}</td>
                                  <td class="default1">{{.Job}}</td>
                                  <td class="default1">{{.Telphone}}</td>
                                  <td class="default1">{{.Email}}</td>
                                  <td class="default1">{{.IsDocTeacher}}</td>
                                  <td class="default1">{{.Department}}</td>
                                  <td class="default1">
                                  <a href="teacherlist.html?teachername={{.Name}}&teacherjob={{.Job}}" >删除</a>
                                  </td>
                              </tr>
                              {{end}}
                          </tbody>
                      </table>

                      {{end}}

                    </form>
                    </div>
                </div>



            </div>

            <!-- /. PAGE INNER  -->
        </div>
        <!-- /. PAGE WRAPPER  -->
    </div>
    <!-- /. WRAPPER  -->
    <!-- JS Scripts-->'#editor_id'
    <!-- jQuery Js -->
    <script src="static/assets/js/jquery-1.10.2.js"></script>
    <!-- Bootstrap Js -->
    <script src="static/assets/js/bootstrap.min.js"></script>

    <!-- Metis Menu Js -->
    <script src="static/assets/js/jquery.metisMenu.js"></script>
    <!-- Morris Chart Js -->
    <script src="static/assets/js/morris/raphael-2.1.0.min.js"></script>
    <script src="static/assets/js/morris/morris.js"></script>
    <script src="static/assets/js/easypiechart.js"></script>
    <script src="static/assets/js/easypiechart-data.js"></script>

    <script src="static/assets/js/Lightweight-Chart/jquery.chart.js"></script>

    <!-- Custom Js -->
    <script src="static/assets/js/custom-scripts.js"></script>
    <!-- kindeditor -->
    <script charset="utf-8" src="static/kindeditor-4.1.10/kindeditor.js"></script>
    <script charset="utf-8" src="static/kindeditor-4.1.10/lang/zh_CN.js"></script>

    <script type="text/javascript">
        KindEditor.ready(function(K) {
            var editor = K.create('textarea[name="content"]');
        });


    </script>
    </script> -->

</body>

</html>
}
</script>

</body>

</html>
