<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>机械电子工程学院</title>
<link href="static/css/headFooter.css" rel="stylesheet" type="text/css" />
<link href="static/css/childpage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/nav.js"></script>
<style>
    .articleBody{
        margin:0 30px;
        margin-top:15px;
        min-height:650px;
    }
    .articleBody p{
        padding:0;
        border:0;
        color:#333333;
        font-family:Simsun;
        font-size:15px;
        line-height:2em;
        white-space:normal;
        text-indent:37px;
        background-color:#FFFFFF;
    }
    .articleBody p span{
        font-family:微软雅黑,'Microsoft YaHei';
        font-size:14px;
        padding:0px;
        border:0px;
    }

</style>
</head>
<body>
    <div class="head">
		<div class="headContainer">
			<a href="file:///J:/jxdz_html/jxdz.html">
				<img src="static/img/jxdz_logo.png" style="float:left;margin-top:21px;cursor:pointer">
			</a>
			<a href="http://202.115.22.76/" target="_blank" style="font-size:12px;color:#fff;float:right;">旧版入口</a>
			<div class="slogan">
				<img src="static/img/slogan.png" alt="slogan">
			</div>
		</div>
	</div>
	<div class="nav">
		<div class="navContainer">
			<ul class="navigation">
				<li onmouseover="drop('d1','131')" onmouseout="drop('d1','0')">
					<a href="file:///" target="_blank">学院概况</a>
					<ul class="dropDown" id="d1">
						<li style="border-top:none;">
							<a href="file:///">学院简介</a>
						</li>
						<li>
							<a href="file:///">学院领导</a>
						</li>
						<li>
							<a href="file:///">学院机构</a>
						</li>
						<li>
							<a href="file:///">院长寄语</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d2','131')" onmouseout="drop('d2','0')">
					<a href="file:///" target="_blank">师资队伍</a>
					<ul class="dropDown" id="d2">
						<li style="border-top:none;">
							<a href="file:///">师资介绍</a>
						</li>
						<li>
							<a href="file:///">杰出人才</a>
						</li>
						<li>
							<a href="file:///">人事政策</a>
						</li>
						<li>
							<a href="file:///">办事指南</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d3','230')" onmouseout="drop('d3','0')">
					<a href="file:///" target="_blank">科学研究</a>
					<ul class="dropDown" id="d3">
						<li style="border-top:none;">
							<a href="file:///">学科建设</a>
						</li>
						<li>
							<a href="file:///">科研机构</a>
						</li>
						<li>
							<a href="file:///">科研政策</a>
						</li>
						<li>
							<a href="file:///">科研成果</a>
						</li>
							<li>
							<a href="file:///">资料下载</a>
						</li>
						<li>
							<a href="file:///">办事指南</a>
						</li>
						<li>
							<a href="file:///">合作与交流</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d4','164')" onmouseout="drop('d4','0')">
					<a href="file:///" target="_blank">人才培养</a>
					<ul class="dropDown" id="d4">
						<li style="border-top:none;">
							<a href="file:///">本科生教育</a>
						</li>
						<li>
							<a href="file:///">研究生教育</a>
						</li>
						<li>
							<a href="file:///">专业学位教育</a>
						</li>
						<li>
							<a href="file:///">继续教育</a>
						</li>
						<li>
							<a href="file:///">实验教学示范中心</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d5','164')" onmouseout="drop('d5','0')">
					<a href="file:///" target="_blank">国际交流</a>
					<ul class="dropDown" id="d5">
						<li style="border-top:none;">
							<a href="file:///">教师出境</a>
						</li>
						<li>
							<a href="file:///">学生出境</a>
						</li>
						<li>
							<a href="file:///">来华留学</a>
						</li>
						<li>
							<a href="file:///">来华专家</a>
						</li>
						<li>
							<a href="file:///">国际会议</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d6','164')" onmouseout="drop('d6','0')">
					<a href="file:///" target="_blank">学生工作</a>
					<ul class="dropDown" id="d6">
						<li style="border-top:none;">
							<a href="file:///">通知公告</a>
						</li>
						<li>
							<a href="file:///">学生活动</a>
						</li>
						<li>
							<a href="file:///">学生风采</a>
						</li>
						<li>
							<a href="file:///">办事指南</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d7','197')" onmouseout="drop('d7','0')">
					<a href="file:///" target="_blank">招生就业</a>
					<ul class="dropDown" id="d7">
						<li style="border-top:none;">
							<a href="file:///">本科招生</a>
						</li>
						<li>
							<a href="file:///">研究生招生</a>
						</li>
						<li>
							<a href="file:///">专业学位招生</a>
						</li>
						<li>
							<a href="file:///">继续教育招生</a>
						</li>
						<li>
							<a href="file:///">就业信息</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d8','164')" onmouseout="drop('d8','0')">
					<a href="file:///" target="_blank">党群工作</a>
					<ul class="dropDown" id="d8">
						<li style="border-top:none;">
							<a href="file:///">党群工作</a>
						</li>
						<li>
							<a href="file:///">教代会</a>
						</li>
						<li>
							<a href="file:///">统战工作</a>
						</li>
						<li>
							<a href="file:///">工会工作</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d9',98)" onmouseout="drop('d9','0')">
					<a href="file:///" target="_blank">院企合作</a>
					<ul class="dropDown" id="d9">
						<li style="border-top:none;">
							<a href="file:///">合作模式</a>
						</li>
						<li>
							<a href="file:///">企业信息</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d10',164)" onmouseout="drop('d10','0')">
					<a href="file:///" target="_blank">院友之家</a>
					<ul class="dropDown" id="d10">
						<li style="border-top:none;">
							<a href="file:///">院友活动</a>
						</li>
						<li>
							<a href="file:///">院友风采</a>
						</li>
						<li>
							<a href="file:///">历届毕业生合影</a>
						</li>
						<li>
							<a href="file:///">院友服务</a>
						</li>
						<li>
							<a href="file:///">院友留言</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="search">
				<img src="static/img/search.png" onclick="changeView()">
				<div class="searchText" id="searchText" style="display:none">
					<form action="file:///J:/jxdz_html/jxdz.html" method="post">
						<input type="text" name="search" placeholder="新闻搜索...">

					</form>
				</div>
			</div>
		</div>
	</div>
    <div class="main">
        <div class="mainContainer">
            <div class="mainLeft">
                <ul class="root">
                    <li>
                        <label class="rem">
                            <a href="//">学院简介</a>
                        </label>
                    </li>
                    <li>
                        <label class="rem">
                            <a href="//">学院领导</a>
                        </label>
                    </li>
                    <li onclick="view()">
                         <span class="view" style="background:url(static/img/close.png) 0 1px no-repeat;"></span>
                        <label>
                            <a href="//">学院机构</a>
                        </label>
                        <ul class="level2" id="gra" style="display:block;">
                            <li>
                                <label class="rem">
                                    <a href="">行政机构</a>
                                </label>
                            </li>
                            <li>
                                <label class="rem">
                                    <a href="">科研机构</a>
                                </label>
                            </li>
                            <li>
                                <label class="rem">
                                    <a href="">教学机构</a>
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label class="rem">
                            <a href="//">院长寄语</a>
                        </label>
                    </li>
                </ul>
                <p class="hotnewsTitle">热点新闻</p>
                <ul class="hotNews">
                    <li>
                        <a href="//" target="_blank">2016年电子科技大学国际青年学者...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">祝贺我院两名老师获2016年"电子...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">我院学子在“创青春”全国大学生...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">学院探索实施“新四会”学生励志...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">学校专题报道我院“两学一做”先...</a>
                    </li>
                </ul>
            </div>
            <div class="mainRight">
                <div class="mainTitle">
                <h1>学院简介</h1>
                <div class="crumbs">
                    <a href="jxdz.html">&nbsp;首页</a>
                    <a href="//">>&nbsp;学院概况</a>
                    <a href="//">>&nbsp;学院简介</a>
                </div>
            </div>
                <div class="mainContent">
                    <div class="articleBody">
                        <div class="articleContent">
                            <p>
                                <span>
                                    学院的前身是建于1964年的电子机械系，2001年成立学院。 学院设有机械工程系、工业工程系、电力电子工程系，工程训练中心、“机电与控制工程”国家级实验教学示范中心，先进装备及其控制技术研究所、设备监控与健康管理研究所、机电测控一体化技术研究所、精密机电智能测试与控制研究所、智能光机电系统研究所、微系统与机器人研究所、可靠性工程研究所、数字化设计与仿真研究所、电力电子与智能感知研究所，建有四川智能服务机器人2011协同创新中心、四川省智能机电系统与工业信息化重点实验室、四川省安全生产智能服务机器人工程实验室、信息与产业部智能机械及其系统工程重点实验室等一批教学和科研机构。
                                </span>
                            </p>
                            <p>
                                <span>
                                    经过50余年的发展，学院拥有“机械工程”博士后科研流动站，“机械工程”一级学科博士学位授予权，“精密仪器及机械”二级学科博士学位授予权，“机械工程”一级学科硕士学位授予权，“电力电子与电力传动”工学硕士学位授予权，“机械工程”、“工业工程”、“软件工程”工程硕士学位授予权。学院设有“机械设计制造及其自动化”、“电气工程及其自动化”、“工业工程”三个本科专业。
                                </span>
                            </p>
                        </div>
                    </div>
                    <div class="pageFooter">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
		<div class="footerContainer">
			<div class="schoolIntro">
				<p>机械电子学院</p>
				<ul>
					<li>
						<span>学院地址：</span>
						<span class="schoolAddr">四川省成都市高新区（西区）西源大道2006号电子科技大学清水河校区主楼C1区</span>
					</li>
					<li>联系电话：028-61830229</li>
					<li>传真号码：028-61830227</li>
					<li>技术支持：云创工作室</li>
				</ul>
			</div>
			<div class="schoolIntro hotList">
				<p>快速链接</p>
				<ul>
					<li>
						<a href="//" target="_blank">>机械电子工程学院微信官方网站</a>
					</li>
					<li>
						<a href="//" target="_blank">>电子科技大学</a>
					</li>
					<li>
						<a href="//" target="_blank">>电子科技大信息门户系统</a>
					</li>
					<li>
						<a href="//" target="_blank">>在线图书馆</a>
					</li>
					<li>
						<a href="//" target="_blank">>后台入口</a>
					</li>
				</ul>
			</div>
			<div class="schoolIntro hotList">
				<p>关于我们</p>
				<a href="//" target="_blank">
					<img src="static/img/map.png" style="border:0;margin-top:12px;">
				</a>
			</div>
			<div class="schoolIntro" style="float:right">
				<p>微信社区</p>
				<a href target="_blank">
					<img src="static/img/wechat.png" style="margin-top:12px">
				</a>
			</div>
		</div>
	</div>
  <script type="text/javascript" src="static/js/view.js"></script>
</body>
</html>
