<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>机械电子工程学院</title>
<link href="static/css/headFooter.css" rel="stylesheet" type="text/css" />
<link href="static/css/childpage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/nav.js"></script>
<style>
    div{
        display:block;
    }
    .teacherIntro{
        margin:0 30px;
        min-height:650px;
    }
    .teacherClassify{
        height:60px;
        margin-bottom:15px;
        line-height:60px;
        overflow:hidden;
        border-bottom:1px solid #ddd;
    }
    .teacherTab{
        text-decoration:none;
        font-size:16px;
        float:left;
        padding-right:40px;
        color:#ebb614;
        cursor:pointer;
    }
    .teacherName{
        display:block;
        width:726px;
        color:white;
        background:url(static/img/teacherName.png) no-repeat;
        font-size:16px;
        margin-bottom:10px;
        line-height:30px;
        text-indent:7px;
    }
    .teacherInfo{
        display:block;
        margin-bottom:10px;
    }
    .teacherInfo a{
        text-decoration: none;
        display:block;
        color:#444;
        font-size:16px;
        width:88px;
        float:left;
        cursor:pointer;
        margin:5px 0;
    }
    .teacher{
        margin-top:10px;
        display:table;
    }
</style>
</head>
<body>
    <div class="head">
		<div class="headContainer">
			<a href="file:///J:/jxdz_html/jxdz.html">
				<img src="static/img/jxdz_logo.png" style="float:left;margin-top:21px;cursor:pointer">
			</a>
			<a href="http://202.115.22.76/" target="_blank" style="font-size:12px;color:#fff;float:right;">旧版入口</a>
			<div class="slogan">
				<img src="static/img/slogan.png" alt="slogan">
			</div>
		</div>
	</div>
	<div class="nav">
		<div class="navContainer">
			<ul class="navigation">
				<li onmouseover="drop('d1','131')" onmouseout="drop('d1','0')">
					<a href="file:///" target="_blank">学院概况</a>
					<ul class="dropDown" id="d1">
						<li style="border-top:none;">
							<a href="file:///">学院简介</a>
						</li>
						<li>
							<a href="file:///">学院领导</a>
						</li>
						<li>
							<a href="file:///">学院机构</a>
						</li>
						<li>
							<a href="file:///">院长寄语</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d2','131')" onmouseout="drop('d2','0')">
					<a href="file:///" target="_blank">师资队伍</a>
					<ul class="dropDown" id="d2">
						<li style="border-top:none;">
							<a href="file:///">师资介绍</a>
						</li>
						<li>
							<a href="file:///">杰出人才</a>
						</li>
						<li>
							<a href="file:///">人事政策</a>
						</li>
						<li>
							<a href="file:///">办事指南</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d3','230')" onmouseout="drop('d3','0')">
					<a href="file:///" target="_blank">科学研究</a>
					<ul class="dropDown" id="d3">
						<li style="border-top:none;">
							<a href="file:///">学科建设</a>
						</li>
						<li>
							<a href="file:///">科研机构</a>
						</li>
						<li>
							<a href="file:///">科研政策</a>
						</li>
						<li>
							<a href="file:///">科研成果</a>
						</li>
							<li>
							<a href="file:///">资料下载</a>
						</li>
						<li>
							<a href="file:///">办事指南</a>
						</li>
						<li>
							<a href="file:///">合作与交流</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d4','164')" onmouseout="drop('d4','0')">
					<a href="file:///" target="_blank">人才培养</a>
					<ul class="dropDown" id="d4">
						<li style="border-top:none;">
							<a href="file:///">本科生教育</a>
						</li>
						<li>
							<a href="file:///">研究生教育</a>
						</li>
						<li>
							<a href="file:///">专业学位教育</a>
						</li>
						<li>
							<a href="file:///">继续教育</a>
						</li>
						<li>
							<a href="file:///">实验教学示范中心</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d5','164')" onmouseout="drop('d5','0')">
					<a href="file:///" target="_blank">国际交流</a>
					<ul class="dropDown" id="d5">
						<li style="border-top:none;">
							<a href="file:///">教师出境</a>
						</li>
						<li>
							<a href="file:///">学生出境</a>
						</li>
						<li>
							<a href="file:///">来华留学</a>
						</li>
						<li>
							<a href="file:///">来华专家</a>
						</li>
						<li>
							<a href="file:///">国际会议</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d6','164')" onmouseout="drop('d6','0')">
					<a href="file:///" target="_blank">学生工作</a>
					<ul class="dropDown" id="d6">
						<li style="border-top:none;">
							<a href="file:///">通知公告</a>
						</li>
						<li>
							<a href="file:///">学生活动</a>
						</li>
						<li>
							<a href="file:///">学生风采</a>
						</li>
						<li>
							<a href="file:///">办事指南</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d7','197')" onmouseout="drop('d7','0')">
					<a href="file:///" target="_blank">招生就业</a>
					<ul class="dropDown" id="d7">
						<li style="border-top:none;">
							<a href="file:///">本科招生</a>
						</li>
						<li>
							<a href="file:///">研究生招生</a>
						</li>
						<li>
							<a href="file:///">专业学位招生</a>
						</li>
						<li>
							<a href="file:///">继续教育招生</a>
						</li>
						<li>
							<a href="file:///">就业信息</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d8','164')" onmouseout="drop('d8','0')">
					<a href="file:///" target="_blank">党群工作</a>
					<ul class="dropDown" id="d8">
						<li style="border-top:none;">
							<a href="file:///">党群工作</a>
						</li>
						<li>
							<a href="file:///">教代会</a>
						</li>
						<li>
							<a href="file:///">统战工作</a>
						</li>
						<li>
							<a href="file:///">工会工作</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d9',98)" onmouseout="drop('d9','0')">
					<a href="file:///" target="_blank">院企合作</a>
					<ul class="dropDown" id="d9">
						<li style="border-top:none;">
							<a href="file:///">合作模式</a>
						</li>
						<li>
							<a href="file:///">企业信息</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d10',164)" onmouseout="drop('d10','0')">
					<a href="file:///" target="_blank">院友之家</a>
					<ul class="dropDown" id="d10">
						<li style="border-top:none;">
							<a href="file:///">院友活动</a>
						</li>
						<li>
							<a href="file:///">院友风采</a>
						</li>
						<li>
							<a href="file:///">历届毕业生合影</a>
						</li>
						<li>
							<a href="file:///">院友服务</a>
						</li>
						<li>
							<a href="file:///">院友留言</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="search">
				<img src="static/img/search.png" onclick="changeView()">
				<div class="searchText" id="searchText" style="display:none">
					<form action="file:///J:/jxdz_html/jxdz.html" method="post">
						<input type="text" name="search" placeholder="新闻搜索...">

					</form>
				</div>
			</div>
		</div>
	</div>
    <div class="main">
        <div class="mainContainer">
            <div class="mainLeft">
                <ul class="root">
                    <li>
                        <label class="rem">
                            <a href="//">学院简介</a>
                        </label>
                    </li>
                    <li>
                        <label class="rem">
                            <a href="//">学院领导</a>
                        </label>
                    </li>
                    <li onclick="view()">
                         <span class="view" style="background:url(static/img/close.png) 0 1px no-repeat;"></span>
                        <label>
                            <a href="//">学院机构</a>
                        </label>
                        <ul class="level2" id="gra" style="display:block;">
                            <li>
                                <label class="rem">
                                    <a href="">行政机构</a>
                                </label>
                            </li>
                            <li>
                                <label class="rem">
                                    <a href="">科研机构</a>
                                </label>
                            </li>
                            <li>
                                <label class="rem">
                                    <a href="">教学机构</a>
                                </label>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <label class="rem">
                            <a href="//">院长寄语</a>
                        </label>
                    </li>
                </ul>
                <p class="hotnewsTitle">热点新闻</p>
                <ul class="hotNews">
                    <li>
                        <a href="//" target="_blank">2016年电子科技大学国际青年学者...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">祝贺我院两名老师获2016年"电子...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">我院学子在“创青春”全国大学生...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">学院探索实施“新四会”学生励志...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">学校专题报道我院“两学一做”先...</a>
                    </li>
                </ul>
            </div>
            <div class="mainRight">
                <div class="mainTitle">
                <h1>师资介绍</h1>
                <div class="crumbs">
                    <a href="jxdz.html">&nbsp;首页</a>
                    <a href="//">>&nbsp;师资队伍</a>
                    <a href="//">>&nbsp;师资介绍</a>
                </div>
            </div>
                <div class="mainContent">

                        <form method="GET" action="/jxdzN4">
                          <div>
                          <input type="submit" class="teacherTab" name="Job" id="Job"  value="职称" style="width:160px;float:left;">
                          <input type="submit" class="teacherTab" name="Doc" id="Doc"  value="博导" style="width:160px;float:left;">
                          <input type="submit" class="teacherTab" name="Dep" id="Dep"  value="系所" style="width:160px;float:left;">
                        </div>
                          {{if .Show1}}
                            <div class="teacher">
                          <p class="teacherName">教授(研究员)</p>
                          <div class="teacherInfo">
                          {{range .TeachersPro}}
                          <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                          {{end}}
                        </div>
                      </div>

                          <div class="teacher">
                          <p class="teacherName">副教授(高级工程师、副研究员)</p>
                          <div class="teacherInfo">
                            {{range .TeachersDepuPro}}
                            <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                            {{end}}
                          </div>
                          </div>

                          <div class="teacher">
                          <p class="teacherName">讲师（工程师及以下）</p>
                          <div class="teacherInfo">
                          {{range .Teachers}}
                          <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                          {{end}}
                        </div>
                        </div>



                          {{else if .Show2}}
                          <div class="teacher">
                          <p class="teacherName">博士生导师</p>
                          <div class="teacherInfo">
                          {{range .Teachers}}
                          <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                          {{end}}
                        </div>
                      </div>

                          {{else if .Show3}}
                          <div class="teacher">
                          <p class="teacherName">机械工程系</p>
                          <div class="teacherInfo">
                          {{range .Teachers1}}
                          <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                          {{end}}
                        </div>
                      </div>

                          <div class="teacher">
                          <p class="teacherName">工业工程系</p>
                          <div class="teacherInfo">
                          {{range .Teachers2}}
                          <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                          {{end}}
                        </div>
                      </div>

                        <div class="teacher">
                          <p class="teacherName">电力电子系</p>
                          <div class="teacherInfo">
                          {{range .Teachers3}}
                          <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                          {{end}}
                        </div>
                      </div>

                      <div class="teacher">

                          <p class="teacherName">工程训练中心(学院教学示范中心)</p>
                          <div class="teacherInfo">
                          {{range .Teachers4}}
                          <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                          {{end}}
                        </div>
                      </div>

                      {{else}}
                        <div class="teacher">
                      <p class="teacherName">教授(研究员)</p>
                      <div class="teacherInfo">
                      {{range .TeachersPro}}
                      <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                      {{end}}
                    </div>
                  </div>

                      <div class="teacher">
                      <p class="teacherName">副教授(高级工程师、副研究员)</p>
                      <div class="teacherInfo">
                        {{range .TeachersDepuPro}}
                        <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                        {{end}}
                      </div>
                      </div>

                      <div class="teacher">
                      <p class="teacherName">讲师（工程师及以下）</p>
                      <div class="teacherInfo">
                      {{range .Teachers}}
                      <a href="/jxdzN6?ID={{.Id}}">{{.Name}}</a>
                      {{end}}
                    </div>
                    </div>

                          {{end}}

                        </form>
                    </div>
                    <div class="pageFooter">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
		<div class="footerContainer">
			<div class="schoolIntro">
				<p>机械电子学院</p>
				<ul>
					<li>
						<span>学院地址：</span>
						<span class="schoolAddr">四川省成都市高新区（西区）西源大道2006号电子科技大学清水河校区主楼C1区</span>
					</li>
					<li>联系电话：028-61830229</li>
					<li>传真号码：028-61830227</li>
					<li>技术支持：云创工作室</li>
				</ul>
			</div>
			<div class="schoolIntro hotList">
				<p>快速链接</p>
				<ul>
					<li>
						<a href="//" target="_blank">>机械电子工程学院微信官方网站</a>
					</li>
					<li>
						<a href="//" target="_blank">>电子科技大学</a>
					</li>
					<li>
						<a href="//" target="_blank">>电子科技大信息门户系统</a>
					</li>
					<li>
						<a href="//" target="_blank">>在线图书馆</a>
					</li>
					<li>
						<a href="//" target="_blank">>后台入口</a>
					</li>
				</ul>
			</div>
			<div class="schoolIntro hotList">
				<p>关于我们</p>
				<a href="//" target="_blank">
					<img src="static/img/map.png" style="border:0;margin-top:12px;">
				</a>
			</div>
			<div class="schoolIntro" style="float:right">
				<p>微信社区</p>
				<a href target="_blank">
					<img src="static/img/wechat.png" style="margin-top:12px">
				</a>
			</div>
		</div>
	</div>
  <script type="text/javascript" src="static/js/view.js"></script>
</body>
</html>
