<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>机械电子工程学院</title>
<link href="static/css/headFooter.css" rel="stylesheet" type="text/css" />
<link href="static/css/childpage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/nav.js"></script>
<style>
    .articleBody{
        margin:0 30px;
        margin-top:15px;
        min-height:650px;
    }
    .articleBody p{
        padding:0;
        border:0;
        color:#333333;
        font-family:Simsun;
        font-size:15px;
        line-height:2em;
        white-space:normal;
        text-indent:37px;
        background-color:#FFFFFF;
    }
    .articleBody p span{
        font-family:微软雅黑,'Microsoft YaHei';
        font-size:14px;
        padding:0px;
        border:0px;
    }
    p.articleTitle{
        margin:0;
        padding:0;
		margin-top:25px;
		text-align: center;
		line-height:27px;
	}
	.articleTitle a{
        position:relative;
        right:18.5px;
        overflow:hidden;
        font-family:微软雅黑,'Microsoft YaHei';
		font-size:18px;
		color:#000;
		cursor:pointer;
		text-decoration:none;
	}
	tbody{
		display:table-row-group;
		vertical-align:middle;
	}
	.articleDetail{
		width:100%;
		margin-top:5px;
		margin-bottom:15px;
		text-align:center;
		border-collapse:collapse;
	}
	.articleDetail span{
		margin-right:20px;
		font-size:14px;
		color:#000;
	}
    .nextPage{
        margin:0 30px;
        margin-top:50px;
        text-align:center
    }
    .nextPage a{
        color:#000;
        font-size:13px;
        cursor:pointer;
        text-decoration:none;
    }
    .nextPage a:hover{
        color:#dd5e5e;
    }
</style>
</head>
<body>
    <div class="head">
		<div class="headContainer">
			<a href="jxdz.html">
				<img src="static/img/jxdz_logo.png" style="float:left;margin-top:21px;cursor:pointer">
			</a>
			<a href="http://202.115.22.76/" target="_blank" style="font-size:12px;color:#fff;float:right;">旧版入口</a>
			<div class="slogan">
				<img src="static/img/slogan.png" alt="slogan">
			</div>
		</div>
	</div>
	<div class="nav">
		<div class="navContainer">
			<ul class="navigation">
        {{range .CatesForMenu}}
        <li onmouseover="drop('d{{.Id}}','{{.DepthNumber}}')" onmouseout="drop('d{{.Id}}','0')">

          <a href="/Judge?ID={{.CateOne.Id}}" target="_blank">{{.CateOne.Name}}</a>

          <ul class="dropDown" id="d{{.Id}}">
            {{range .CateTwo}}
            <li style="border-top:none;">
              <a href="/Judge?ID={{.Id}}">{{.Name}}</a>
            </li>
            {{end}}
          </ul>

        </li>
        {{end}}
				<li onmouseover="drop('d4','164')" onmouseout="drop('d4','0')">
					<a href="file:///" target="_blank">人才培养</a>
					<ul class="dropDown" id="d4">
						<li style="border-top:none;">
							<a href="file:///">本科生教育</a>
						</li>
						<li>
							<a href="file:///">研究生教育</a>
						</li>
						<li>
							<a href="file:///">专业学位教育</a>
						</li>
						<li>
							<a href="file:///">继续教育</a>
						</li>
						<li>
							<a href="file:///">实验教学示范中心</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d5','164')" onmouseout="drop('d5','0')">
					<a href="file:///" target="_blank">国际交流</a>
					<ul class="dropDown" id="d5">
						<li style="border-top:none;">
							<a href="file:///">教师出境</a>
						</li>
						<li>
							<a href="file:///">学生出境</a>
						</li>
						<li>
							<a href="file:///">来华留学</a>
						</li>
						<li>
							<a href="file:///">来华专家</a>
						</li>
						<li>
							<a href="file:///">国际会议</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d6','164')" onmouseout="drop('d6','0')">
					<a href="file:///" target="_blank">学生工作</a>
					<ul class="dropDown" id="d6">
						<li style="border-top:none;">
							<a href="file:///">通知公告</a>
						</li>
						<li>
							<a href="file:///">学生活动</a>
						</li>
						<li>
							<a href="file:///">学生风采</a>
						</li>
						<li>
							<a href="file:///">办事指南</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d7','197')" onmouseout="drop('d7','0')">
					<a href="file:///" target="_blank">招生就业</a>
					<ul class="dropDown" id="d7">
						<li style="border-top:none;">
							<a href="file:///">本科招生</a>
						</li>
						<li>
							<a href="file:///">研究生招生</a>
						</li>
						<li>
							<a href="file:///">专业学位招生</a>
						</li>
						<li>
							<a href="file:///">继续教育招生</a>
						</li>
						<li>
							<a href="file:///">就业信息</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d8','164')" onmouseout="drop('d8','0')">
					<a href="file:///" target="_blank">党群工作</a>
					<ul class="dropDown" id="d8">
						<li style="border-top:none;">
							<a href="file:///">党群工作</a>
						</li>
						<li>
							<a href="file:///">教代会</a>
						</li>
						<li>
							<a href="file:///">统战工作</a>
						</li>
						<li>
							<a href="file:///">工会工作</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d9',98)" onmouseout="drop('d9','0')">
					<a href="file:///" target="_blank">院企合作</a>
					<ul class="dropDown" id="d9">
						<li style="border-top:none;">
							<a href="file:///">合作模式</a>
						</li>
						<li>
							<a href="file:///">企业信息</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d10',164)" onmouseout="drop('d10','0')">
					<a href="file:///" target="_blank">院友之家</a>
					<ul class="dropDown" id="d10">
						<li style="border-top:none;">
							<a href="file:///">院友活动</a>
						</li>
						<li>
							<a href="file:///">院友风采</a>
						</li>
						<li>
							<a href="file:///">历届毕业生合影</a>
						</li>
						<li>
							<a href="file:///">院友服务</a>
						</li>
						<li>
							<a href="file:///">院友留言</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="search">
				<img src="static/img/search.png" onclick="changeView()">
				<div class="searchText" id="searchText" style="display:none">
					<form action="file:///J:/jxdz_html/jxdz.html" method="post">
						<input type="text" name="search" placeholder="新闻搜索...">

					</form>
				</div>
			</div>
		</div>
	</div>
    <div class="main">
        <div class="mainContainer">
            <div class="mainLeft">
                <ul class="root">
                  {{range .LeftMenu}}
                    <li>
                        <label class="rem">
                            <a href="Judge?ID={{.Id}}">{{.Depth |Repeat}}{{.Name}}</a>
                        </label>
                    </li>
                    {{end}}
                </ul>
                <p class="hotnewsTitle">热点新闻</p>
                <ul class="hotNews">
                    <li>
                        <a href="//" target="_blank">2016年电子科技大学国际青年学者...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">祝贺我院两名老师获2016年"电子...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">我院学子在“创青春”全国大学生...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">学院探索实施“新四会”学生励志...</a>
                    </li>
                       <li>
                        <a href="//" target="_blank">学校专题报道我院“两学一做”先...</a>
                    </li>
                </ul>
            </div>
            <div class="mainRight">
                <div class="mainTitle">
                <h1>{{.CateName.Name}}</h1>
                <div class="crumbs">
                    <a href="jxdz.html">&nbsp;首页</a>
                    {{range .Path}}
                    <a href="/Judge?ID={{.Id}}">>&nbsp;{{.Name}}</a>
                    {{end}}
                </div>
            </div>
                <div class="mainContent">
                    <div class="articleBody">

                        <p class="articleTitle">
                            <a href target="_blank">{{.Article.Title}}</a>
                        </p>
                        <table class="articleDetail">
                            <tbody>
                                <tr>
                                    <td>
                                        <span>来源：{{.Article.From}}</span>
                                        <span>阅读次数：{{.Article.ReadTime}}</span>
                                        <span>发布时间：{{.Article.CreatTime}}</span>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <div class="articleContent">
                            <div>
                            	<p>
                                	<span>
                                    {{.Article.Content}}
                              		</span>
                            	</p>
							              </div>
                        </div>


                    </div>
                    <div class="pageFooter">
                        <p class="nextPage">
                            <a href="//">下一篇：华西希望集团总裁 王德根（1990级）</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
		<div class="footerContainer">
			<div class="schoolIntro">
				<p>机械电子学院</p>
				<ul>
					<li>
						<span>学院地址：</span>
						<span class="schoolAddr">四川省成都市高新区（西区）西源大道2006号电子科技大学清水河校区主楼C1区</span>
					</li>
					<li>联系电话：028-61830229</li>
					<li>传真号码：028-61830227</li>
					<li>技术支持：云创工作室</li>
				</ul>
			</div>
			<div class="schoolIntro hotList">
				<p>快速链接</p>
        <ul>
          {{range .link}}
					<li>
						<a href="{{.Url}}" target="_blank">>{{.Title}}</a>
					</li>
          {{end}}
				</ul>
			</div>
			<div class="schoolIntro hotList">
				<p>关于我们</p>
				<a href="//" target="_blank">
					<img src="static/img/map.png" style="border:0;margin-top:12px;">
				</a>
			</div>
			<div class="schoolIntro" style="float:right">
				<p>微信社区</p>
				<a href target="_blank">
					<img src="static/img/wechat.png" style="margin-top:12px">
				</a>
			</div>
		</div>
	</div>
  <script type="text/javascript" src="static/js/view.js"></script>
</body>
</html>
