<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>机械电子工程学院</title>
<link href="static/css/headFooter.css" rel="stylesheet" type="text/css" />
<link href="static/css/childpage.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="static/js/nav.js"></script>
<style>
    ul{
        list-style:0;
        padding:0;
    }
    .articleList{
        margin:0 30px;
        margin-top:15px;
        min-height:700px;
    }
    .articleList li{
        overflow:hidden;
        border-bottom:1px solid #cccfcf;
    }
    .articleList li a{
        width:600px;
        display:block;
        float:left;
        line-height:40px;
		font-size:14px;
        color:#000;
        cursor:pointer;
        text-decoration: none;
    }
    .articleList li span{
        font-size:14px;
        color:#000;
        line-height:40px;
        float:right;
    }
</style>
</head>
<body>
    <div class="head">
		<div class="headContainer">
			<a href="jxdz.html">
				<img src="static/img/jxdz_logo.png" style="float:left;margin-top:21px;cursor:pointer">
			</a>
			<a href="http://202.115.22.76/" target="_blank" style="font-size:12px;color:#fff;float:right;">旧版入口</a>
			<div class="slogan">
				<img src="static/img/slogan.png" alt="slogan">
			</div>
		</div>
	</div>
	<div class="nav">
		<div class="navContainer">
			<ul class="navigation">
        {{range .CatesForMenu}}
        <li onmouseover="drop('d{{.Id}}','{{.DepthNumber}}')" onmouseout="drop('d{{.Id}}','0')">

          <a href="/Judge?ID={{.CateOne.Id}}" target="_blank">{{.CateOne.Name}}</a>

          <ul class="dropDown" id="d{{.Id}}">
            {{range .CateTwo}}
            <li style="border-top:none;">
              <a href="/Judge?ID={{.Id}}">{{.Name}}</a>
            </li>
            {{end}}
          </ul>

        </li>
        {{end}}
				<li onmouseover="drop('d4','164')" onmouseout="drop('d4','0')">
					<a href="file:///" target="_blank">人才培养</a>
					<ul class="dropDown" id="d4">
						<li style="border-top:none;">
							<a href="file:///">本科生教育</a>
						</li>
						<li>
							<a href="file:///">研究生教育</a>
						</li>
						<li>
							<a href="file:///">专业学位教育</a>
						</li>
						<li>
							<a href="file:///">继续教育</a>
						</li>
						<li>
							<a href="file:///">实验教学示范中心</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d5','164')" onmouseout="drop('d5','0')">
					<a href="file:///" target="_blank">国际交流</a>
					<ul class="dropDown" id="d5">
						<li style="border-top:none;">
							<a href="file:///">教师出境</a>
						</li>
						<li>
							<a href="file:///">学生出境</a>
						</li>
						<li>
							<a href="file:///">来华留学</a>
						</li>
						<li>
							<a href="file:///">来华专家</a>
						</li>
						<li>
							<a href="file:///">国际会议</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d6','164')" onmouseout="drop('d6','0')">
					<a href="file:///" target="_blank">学生工作</a>
					<ul class="dropDown" id="d6">
						<li style="border-top:none;">
							<a href="file:///">通知公告</a>
						</li>
						<li>
							<a href="file:///">学生活动</a>
						</li>
						<li>
							<a href="file:///">学生风采</a>
						</li>
						<li>
							<a href="file:///">办事指南</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d7','197')" onmouseout="drop('d7','0')">
					<a href="file:///" target="_blank">招生就业</a>
					<ul class="dropDown" id="d7">
						<li style="border-top:none;">
							<a href="file:///">本科招生</a>
						</li>
						<li>
							<a href="file:///">研究生招生</a>
						</li>
						<li>
							<a href="file:///">专业学位招生</a>
						</li>
						<li>
							<a href="file:///">继续教育招生</a>
						</li>
						<li>
							<a href="file:///">就业信息</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d8','164')" onmouseout="drop('d8','0')">
					<a href="file:///" target="_blank">党群工作</a>
					<ul class="dropDown" id="d8">
						<li style="border-top:none;">
							<a href="file:///">党群工作</a>
						</li>
						<li>
							<a href="file:///">教代会</a>
						</li>
						<li>
							<a href="file:///">统战工作</a>
						</li>
						<li>
							<a href="file:///">工会工作</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d9',98)" onmouseout="drop('d9','0')">
					<a href="file:///" target="_blank">院企合作</a>
					<ul class="dropDown" id="d9">
						<li style="border-top:none;">
							<a href="file:///">合作模式</a>
						</li>
						<li>
							<a href="file:///">企业信息</a>
						</li>
						<li>
							<a href="file:///">资料下载</a>
						</li>
					</ul>
				</li>
				<li onmouseover="drop('d10',164)" onmouseout="drop('d10','0')">
					<a href="file:///" target="_blank">院友之家</a>
					<ul class="dropDown" id="d10">
						<li style="border-top:none;">
							<a href="file:///">院友活动</a>
						</li>
						<li>
							<a href="file:///">院友风采</a>
						</li>
						<li>
							<a href="file:///">历届毕业生合影</a>
						</li>
						<li>
							<a href="file:///">院友服务</a>
						</li>
						<li>
							<a href="file:///">院友留言</a>
						</li>
					</ul>
				</li>
			</ul>
			<div class="search">
				<img src="static/img/search.png" onclick="changeView()">
				<div class="searchText" id="searchText" style="display:none">
					<form action="jxdz.html" method="Post">
						<input type="text" name="search" placeholder="新闻搜索...">

					</form>
				</div>
			</div>
		</div>
	</div>
    <div class="main">
        <div class="mainContainer">
            <div class="mainLeft">
                {{if .IsShowRoot}}
                <ul class="root">
                  {{range .LeftMenu}}
                    <li>
                        <label class="rem">
                            <a href="Judge?ID={{.Id}}">{{.Depth |Repeat}}{{.Name}}</a>
                        </label>
                    </li>
                    {{end}}
                </ul>
                {{end}}

                {{if .isShowHotNews}}
                <p class="hotnewsTitle">热点新闻</p>
                <ul class="hotNews">
                    {{range .hotNews}}
                    <li>
                        <a href="jxdzN5?Id={{.Id}}&BeId={{.BelongsId}}" target="_blank">{{substr .Title 0 16}}...</a>
                    </li>
                    {{end}}
                </ul>
                {{end}}
            </div>
            <div class="mainRight">
                <div class="mainTitle">
                <h1>{{.CateName.Name}}</h1>
                <div class="crumbs">
                    <a href="jxdz.html">&nbsp;首页</a>
                    {{range .Path}}
                    <a href="/Judge?ID={{.Id}}">>&nbsp;{{.Name}}</a>
                    {{end}}
                </div>
            </div>
                <div class="mainContent">
                    <ul class="articleList">
                      {{range .articles}}
                        <li>
                            <a href="jxdzN5?Id={{.Id}}&BeId={{.BelongsId}}" target="_blank">{{.Title}}</a>
                            <span>{{.CreatTime}}</span>
                        </li>
                      {{end}}
                    </ul>
                    <div class="pageFooter">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer">
		<div class="footerContainer">
			<div class="schoolIntro">
				<p>机械电子学院</p>
				<ul>
					<li>
						<span>学院地址：</span>
						<span class="schoolAddr">四川省成都市高新区（西区）西源大道2006号电子科技大学清水河校区主楼C1区</span>
					</li>
					<li>联系电话：028-61830229</li>
					<li>传真号码：028-61830227</li>
					<li>技术支持：云创工作室</li>
				</ul>
			</div>
			<div class="schoolIntro hotList">
				<p>快速链接</p>
        <ul>
          {{range .link}}
					<li>
						<a href="{{.Url}}" target="_blank">>{{.Title}}</a>
					</li>
          {{end}}
				</ul>
			</div>
			<div class="schoolIntro hotList">
				<p>关于我们</p>
				<a href="//" target="_blank">
					<img src="static/img/map.png" style="border:0;margin-top:12px;">
				</a>
			</div>
			<div class="schoolIntro" style="float:right">
				<p>微信社区</p>
				<a href target="_blank">
					<img src="static/img/wechat.png" style="margin-top:12px">
				</a>
			</div>
		</div>
	</div>
  <script type="text/javascript" src="static/js/view.js"></script>
</body>
</html>
